@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Dancing+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #57cc99, #9fe369);
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #a4ebf3;
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 2px #726a95;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 0px 100px 100px 100px;
  margin-top: 50px;
}

#score {
  font-size: 3.5rem;
  font-family: 'Chivo', sans-serif;
  color: #55b7c2;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.inner {
  display: inline-block;
  padding: 40px;
}

button {
  color: #55b7c2;
  font-weight: bolder;
  border: none;
  font-size: 3rem;
  background: none;
  cursor: pointer;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (min-width: 300px) {
  .container {
    padding: 0px 50px 50px 50px;
    margin-top: 50px;
  }

  .inner {
    display: inline;
    padding: 10px;
  }
}
